.settings {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    grid-template-areas: "menu content";
  }

.users {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "menu content";
  }

#menu {
    grid-area: menu;
    position: fixed;
  }
  
#content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

#dataButton:active, #securityButton:active {
    border: 2px solid #AAA5A5;
    background-color: #AAA5A5;
  }

#dataButton, #securityButton {
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #C4C4C4;
    color: black;
    border: none;
    opacity: 60%;
}

#contentButtons {
    background-color: #C4C4C4;
    height: 500px;
    border-radius: 5px;
    margin-left: 40px;
    height: fit-content;
    padding-bottom: 20px;
}

#whiteBackground {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "left right";
    background-color: white;
    margin: auto;
    margin-top: 50px; 
    height: fit-content;
    padding-bottom: 20px;
    width: 80%;
    border-radius: 5px;
    position: relative;
}

#left, #right {
    padding-left: 40px;
    padding-top: 20px;
}

#save {
    position: absolute;
    right: 20px;
    bottom:  20px;
  }

input {
  background-color: #c4c4c4;
  opacity: 80%;
  border-radius: 5px;
  border-color: none;
  width: 60%;
  height: 30px;
  text-align: center;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

#errorul {
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  background-color: #DC143C;
  color: white;
  font-weight: bold;
  display: block;
  margin: auto;
  width: fit-content;
}

::marker {
  color: #009688;
  font-size: 1.2em;
}

#confirm {
  width: 150px;
}