.users {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "menu content";
  }

  #menu{
    grid-area: menu;
    position: fixed;
  }
  
  #content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  #friendblock{
    display: flex;
    flex-wrap: wrap;
  }

  #leftblock, #rightblock{
    width: 50%;
  }

  .friends, .groups, .sentrequests, .friendrequests{
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #search {
    background-color: #c4c4c4;
    border-radius: 5px;
    margin: auto;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  #keresesInput{
      width: 800px;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
  }
  
  #keresesInput:focus {
    border: 2px solid #009688;
  }
  
  #userlistDiv {
    grid-area: users;
    margin-bottom: 30px;
  }
  
  .relationblock, #userlistDiv {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin: 10px;
  }
  
  #userlist {
    list-style-type: none;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .userListItem {
    background-color: #E9D8A6;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    position: relative;
  }
  
  .friendicon {
    height: 30px;
    position: absolute;
    right: 30px;
    bottom: 15px;
  }
  
  .blockicon{
    height: 30px;
    position: absolute;
    right: 80px;
    bottom: 15px;
  }
  
  img{
    display: none;
  }
  
  .userListItem:hover img{
    display: inline-block;
  }

  footer{
    margin-top: 30px;
  }

  #lettersearch > li{
    cursor: pointer;
    list-style-type: none;
  }

  #lettersearch{
    display: flex;
    justify-content: space-between;
  }

  label{
    display: block;
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #009688; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #009688; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009688; 
}